<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:translator.properties"/>

    <bean id="fileSourceProvider" class="ua.ck.geekhub.task1.source.FileSourceProvider"/>
    <bean id="urlSourceProvider" class="ua.ck.geekhub.task1.source.URLSourceProvider"/>

    <bean id="sourceLoader" class="ua.ck.geekhub.task1.source.SourceLoader">
        <property name="sourceProviders">
            <list>
                <ref bean="fileSourceProvider"/>
                <ref bean="urlSourceProvider"/>
            </list>
        </property>
    </bean>

    <bean id="translator" class="ua.ck.geekhub.task1.Translator">
        <constructor-arg ref="urlSourceProvider"/>
        <property name="apiKey" value="${translator.apiKey}"/>
    </bean>

</beans>