<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create user</title>
</head>
<body>
<h1>Create User page</h1>
<form action="/users/new">
    <h2>Product Details</h2>
    <form th:object="${user}" th:action="@{/users}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <label>FIST NAME:</label>
        <input type="text" th:field="*{firstName}"/>

        <label>LAST NAME:</label>
        <input type="text" th:field="*{lastName}"/>

        <label>AGE:</label>
        <input type="text" th:field="*{age}"/>

        <button type="submit">Submit</button>
    </form>
</form>
</body>
</html>