<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>users</title>
</head>
<body>
<h1>List of users</h1>
<form action="/users/new" method="post">
    <input type="submit" value="create"/>
</form>
<table border="0">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <th:block th:each="user : ${page.items}">
        <tr>
            <td th:text="${user.firstName}">...</td>
            <td th:text="${user.lastName}">...</td>
            <td th:text="${user.age}">...</td>
            <td><a th:href="${'/users/' + user.id}">View</a></td>
            <td><a th:href="${'/users/edit/' + user.id}">Edit</a></td>
            <td><a th:href="${'/users/delete/' + user.id}">Delete</a></td>
        </tr>
    </th:block>
</table>
<td th:each="i : ${#numbers.sequence(1, page.pageCount)}">
    <a th:attr="href='/users?page=' + ${i}"><span th:text="${i}"></span></a>
</td>
</body>
</html>